@mixin before_circle {
    &:before{
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: $mcol;
        border-radius: 100%;
        top: -25%;
        left: -1px;
        z-index: -1;
    }
}