.contacts {
    padding: 120px 0 90px 0px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
        padding: 0 35px 0 52px;
       
        }
    &__foto {
        img {
            width: 400px;
            }
        }
    .yellow_line {
        margin: 0 0 20px 0;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
        margin-bottom: 6px;
    }
    &__text {
        margin-bottom: 30px;
    }
    &__social {
        a {
            margin-right: 35px;
            text-decoration: none;
            &:hover {
                svg .telegram_icon {
                    fill: lightskyblue;
                }
                svg .instagram_icon {
                    fill: purple;
                }
                svg .facebook_icon {
                    fill: blue;
                }
            }
        }
        svg {
            width: 30px; 
            height: 30px;
        }
        margin-bottom: 27.5px;
    }
    &__form {
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px) ;
        justify-content: space-between;
        row-gap: 24px;
        label {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            z-index: 2;
            position: absolute;
            display: block;
            margin-bottom: 0;
            top: -9px;
            left: 12px;
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            padding: 0 10px;
        }
        label {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: left;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            z-index: 2;
            position: absolute;
            display: block;
            margin-bottom: 0;
            top: -9px;
            left: 12px;

        }
    }
    &__textarea {
        grid-column: 1 / 3;
        position: relative;
        textarea {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            padding: 5px 10px;
            resize: none;
        }
    }
    &__btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    &:hover {
        background-color: #fff;
        }
    }
}